/* Cores básicas */
$branco: #ffffff;
$preto: #000000;
$cinza: #888888;
;
$arte: #b92e74;
$edicao: #2f7a8d;
$revisao: #b47331;
$multimidia: #69880d;
$bancoquestao: #00aeef;
$bodyBackground: #ffffff;
$textColor: #000000;
$mapa: #143F70;

/* Variações de cores */
/* Artes */
$art_cor1: #64428C;
$art_cor2: #462E62;
$art_cor3: #937BAF;
$art_cor4: #D1C7DD;

/* Biologia */
$bio_cor1: #45973D;
$bio_cor2: #306E2B;
$bio_cor3: #7DB778;
$bio_cor4: #C8E0C5;

/* Filosofia */
$fil_cor1: #536DA7;
$fil_cor2: #3A4C75;
$fil_cor3: #8799C2;
$fil_cor4: #CCD4E5;

/* Física */
$fis_cor1: #00909B;
$fis_cor2: #00646C;
$fis_cor3: #4DB2B9;
$fis_cor4: #B3DEE1;

/* Geografia */
$geo_cor1: #D85509;
$geo_cor2: #9E2705;
$geo_cor3: #E48853;
$geo_cor4: #F4CCB6;

/* Redação */
$red_cor1: #B82A6B;
$red_cor2: #96171a;
$red_cor3: #CE6A98;
$red_cor4: #EAC0D3;

/* História */
$his_cor1: #951B81;
$his_cor2: #6A0F5A;
$his_cor3: #B560A7;
$his_cor4: #E0BBDA;

/* Interpretação de texto */
$int_cor1: #0F83A6;
$int_cor2: #0A5B74;
$int_cor3: #57A9C1;
$int_cor4: #B7DAE5;

/* Língua Inglesa */
$ing_cor1: #069891;
$ing_cor2: #046A65;
$ing_cor3: #51B7B2;
$ing_cor4: #B5E1DE;

/* Língua Portuguesa */
$por_cor1: #C51A1B;
$por_cor2: #981711;
$por_cor3: #D75F60;
$por_cor4: #EEBBBB;


/* Matemática */
$mat_cor1: #1961AC;
$mat_cor2: #114478;
$mat_cor3: #5E91C5;
$mat_cor4: #BAD0E7;

/* Química */
$qui_cor1: #B80071;
$qui_cor2: #80004F;
$qui_cor3: #CE4D9C;
$qui_cor4: #EAB3D5;

/* Sociologia */
$soc_cor1: #C71553;
$soc_cor2: #8B0F3A;
$soc_cor3: #D85C87;
$soc_cor4: #EFB9CC;

/* Matemática e suas Tecnologias */
$seg_mat_cor1: #F1CB40;
$seg_mat_cor2: #947515;
$seg_mat_cor3: #C4A736;


/* Ciências da Natureza */
$seg_nat_cor1: #F7A941;
$seg_nat_cor2: #8E4914;
$seg_nat_cor3: #BE8433;


/* Linguagens */
$seg_lin_cor1: #C8D300;
$seg_lin_cor2: #5B792A;
$seg_lin_cor3: #9AA400;

/* Ciências Humanas */
$seg_hum_cor1: #8CCAAE;
$seg_hum_cor2: #186C4C;
$seg_hum_cor3: #6E9D88;

/* Gerais */
$geral_1A: #F08589;
$geral_1B: #8AB5E1;
$geral_1C: #F7EAC7;
$geral_2A: #E50051;
$geral_2B: #0089CD;
$geral_2C: #888888;
$geral_3A: #7B0041;
$geral_3B: #005F8D;
$geral_3C: #000000;

/* Outros */
$fontPrincipal: 'Rubik';
$fonteSerifa: 'Crimson Text';
$fontTitulo: 'Ubuntu';
$fontName: 'Rubik';

$defaultFontSize: 14px;
$defaultFontWeight: 300;
$screen-sm-max: 991px;
$speed: 0.2s;
$img-dir: 'img/';
$max-width: 860px;
$phone-max-width: 481px;

// Question
$fontSizeQuestion: 18px;
$fontSizeIndiceQuestion: 18px;
$alternativas: #888888;

// style seções
// revisando
$blue: #0089CD;
$blue_light: #8AB5E1;
$purple: #005F8D;

// exercicios_propostos
$yellow: #C8D300;
$green: #5B792A;
$green_dark: #9AA400;

// BNCC_em_foco
$red: #C51A1B;
$red_dark: #981711;
$pink: #D75F60;

// Exercícios complementares
$color_1: #F08589;



// Remove default style
ol,
ul,
li {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  margin: 0;
  padding: 0;
}

/* Mixin's helpers, more info: http://sass-lang.com/guide#topic-6*/
@mixin display-flex() {
  display: -webkit-flex;
  display: flex;
}

@mixin webkit-prefix($property, $value) {
  -webkit-#{$property}: $value;
  #{$property}: $value;
}

/* Font embeds, examples see: https://www.google.com/fonts */
/* Imports the style from the google fonts cdn */
@import url(https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&family=Rubik:ital,wght@0,300;0,600;0,700;0,800;1,300;1,600&family=Ubuntu:wght@700&display=swap);


@font-face {
  font-family: 'MathSymbol_JSD';
  src: url("https://pmaislivrodigitalprd.blob.core.windows.net/assets/MathSymbol_JSD-Regular.otf?22t19m") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* Article view style */

.body-book,
.body {
  padding: 0;
  margin: 0;
  font: $defaultFontSize $fontPrincipal;
  color: $textColor;
  background-color: $bodyBackground;
  font-weight: $defaultFontWeight;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-overflow-scrolling: touch;

  :focus {
    outline: none;
  }
}

.body {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;

  &::after {
    content: ' ';
    display: block;
    clear: both;
  }
}

/* Set link color */
span[data-text-edit-color] {
  a {
    color: inherit;
  }
}

/* Components style */
/* Shared style for text related components: title, subtitle, intro, body and footer */
.text {
  display: block;
  margin: 34px auto;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

/* Implements text-align property values. */
._align-right {
  text-align: right;
}

._align-middle {
  text-align: center;
}

._left-right {
  text-align: right;
}

._align-left {
  text-align: left;
}

/* media query */
@media (max-width: $screen-sm-max) {
  .text {
    font-size: 17px;
    line-height: 1.65;
  }
}

/* Woodwing Inception internal style.
 * Class for the hero component in the iOS devices.
 * Please don't change this style class
 */
.hero-js {
  height: 100%;

  .body,
  .body-book {
    height: 100%;
  }

  ._hero-bg-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;

    ._hero-bg-item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition-property: opacity;
      transition-timing-function: linear;
      transition-duration: $speed * 2;

      &._current {
        opacity: 1;
      }
    }
  }

  ._hero-content-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;

    ._hero-content-wrapper {
      background-color: $bodyBackground;

      ._hero-content-body {
        max-width: $max-width;
        padding: 0 5px;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;

        &::after {
          content: ' ';
          display: block;
          clear: both;
        }
      }
    }
  }

  &.hero-js-android {

    .body,
    .body-book {
      max-width: none;
    }

    ._hero-bg-box {
      position: fixed;
    }

    ._hero-content-box {
      position: relative;
      margin: 0 -5px;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
    }
  }
}

// Keyframes, see mixin triple-blinking-spans()
@keyframes kf-triple-blinking-spans {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

/**
 Let three child spans blink.
 Use:
 <div>Loading<span>.</span><span>.</span><span>.</span></div>
 div {
  @include triple-blinking-spans();
 }
 */
@mixin triple-blinking-spans() {

  // blink the dots after the label
  span {
    animation-name: kf-triple-blinking-spans;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  span:nth-child(2) {
    animation-delay: 0.2s;
  }

  span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

/**
 Additional styles for .social and .video components
 */
@mixin media-component-states() {

  &.loading,
  &.error {
    font-weight: 300;
    font-size: $defaultFontSize;
    font-style: italic;
    line-height: 1.6;
    padding: 0.5em;
  }

  &.loading {
    color: #888888;
    background-color: rgb(252, 252, 252);
    text-transform: lowercase;

    @include triple-blinking-spans();

    span {
      padding-left: 0.2em;
      font-weight: bold;
      color: #666666;
    }
  }

  &.error {
    background-color: rgba(169, 68, 66, 0.05);
    color: rgba(169, 68, 66, 0.8);

    >div {
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      align-items: center;

      div:first-child {
        display: inline-block;
        flex: 1 auto;
        color: rgba(169, 68, 66, 0.5);
        // horizontally align and size the icon to equal the drop icon of the hero component
        font-size: 30px;
        padding: 0 40px 0 40px;
      }

      >div:last-child {
        display: inline-block;
        flex: 1 100%;
      }
    }
  }
}