.css_05_grafico_titulo {
  display: block;
  align-items: left;
  font-size: 20px;
  font-family: $fontPrincipal;
  font-weight: 700;
  margin: 16px 0 0 0;
  color: $preto;
 

  .grafico_image {
    margin: 0;
    width: 100%;
    padding-top: 8px;
  }

  .grafico_titulo {
    border-bottom: dotted 2px $preto;
    padding-bottom: 8px;
    
  }

  /* Variações de cores */
  &.artes .grafico_titulo {
    border-bottom: dotted 2px $art_cor1;
  }

  &.biologia .grafico_titulo {
    border-bottom: dotted 2px $bio_cor1;
  }

  &.fisica .grafico_titulo {
    border-bottom: dotted 2px $fis_cor1;
  }

  &.quimica .grafico_titulo {
    border-bottom: dotted 2px $qui_cor1;
  }

  &.geografia .grafico_titulo {
    border-bottom: dotted 2px $geo_cor1;
  }

  &.historia .grafico_titulo {
    border-bottom: dotted 2px $his_cor1;
  }

  &.lingua_inglesa .grafico_titulo {
    border-bottom: dotted 2px $ing_cor1;
  }

  &.lingua_portuguesa .grafico_titulo {
    border-bottom: dotted 2px $por_cor1;

  }

  &.redacao .grafico_titulo {
    border-bottom: dotted 2px $red_cor1;

  }

  &.inter_de_texto .grafico_titulo {
    border-bottom: dotted 2px $int_cor1;

  }

  &.matematica .grafico_titulo {
    border-bottom: dotted 2px $mat_cor1;

  }

  &.sociologia .grafico_titulo {
    border-bottom: dotted 2px $soc_cor1;

  }

  &.filosofia .grafico_titulo {
    border-bottom: dotted 2px $fil_cor1;

  }


}