.css_03_exercicio_alternativa_assinalar_itens {
  margin-top: 16px;

  font-family: $fontName;
  font-weight: 300;
  color: $textColor;
  line-height: 1.5em;
  font-size: $fontSizeQuestion;
  align-items: baseline;


  list-style: none;
  position: relative;

  .group_item :first-child {
    margin-top: 0 !important;
  }

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -32px;
    top: 0;
    border: 0.5px solid #888888;
    background-color: #D9D9D9;
  }
}