.css_01_titulo_cap_num {
  display: flex;
  background-color: #C51A1B;
  color: #FFF;
  line-height: 1;
  height: 149px;

  position: relative;

  .background_frente {
    width: 152px;
    height: 32px;

    display: grid;
    place-items: center;

    background: #C8D300;
    border-radius: 20px 20px 0px 0px;

    position: absolute;
    top: -32px;
    margin-left: 61px;

    .number_frente {
      font-family: $fontTitulo;
      font-size: 15px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;
    }
  }

  .wrap_number {
    width: 220px;

    .background_number {
      height: 125px;
      background: linear-gradient(270deg, #981711 0%, #C51A1B 100%);
      border-radius: 0px 0px 20px 20px;
      padding-top: 8px;
      padding-left: 68px;
      padding-right: 24px;
      text-align: center;
      position: relative;

      .cap {
        font-family: $fontTitulo;
        font-weight: 700;
        font-size: 15px;
        line-height: 17.24px;
      }

      .number {
        width: 121.11px;
        font-family: $fontPrincipal;
        font-style: normal;
        font-weight: 800;
        font-size: 100px;
        line-height: 103.5px;
        white-space: nowrap;
      }
    }

  }

  .wrap_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 68px;

    .line_1 {
      font-family: $fontTitulo;
      font-weight: 700;
      font-size: 38px;
      line-height: 43.66px;
    }

  }

  
  /* Variações de cores */
  &.artes {
    background-color: $art_cor1;
    .background_frente{
      background-color: seg_lin_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $art_cor2 0%, $art_cor1 100%);
      }
    }
  }

  &.biologia {
    background-color: $bio_cor1;
    .background_frente{
      background-color: $seg_nat_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $bio_cor2 0%, $bio_cor1 100%);
      }
    }
  }

  &.filosofia {
    background-color: $fil_cor1;
    .background_frente{
      background-color: $seg_hum_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $fil_cor2 0%, $fil_cor1 100%);
      }
    }
  }

  &.fisica {
    background-color: $fis_cor1;
    .background_frente{
      background-color: $seg_nat_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $fis_cor2 0%, $fis_cor1 100%);
      }
    }
  }

  &.geografia {
    background-color: $geo_cor1;
    .background_frente{
      background-color: $seg_hum_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $geo_cor2 0%, $geo_cor1 100%);
      }
    }
  }

  // faltando
  &.redacao{
    background-color: $red_cor1;
    .background_frente{
      background-color: seg_lin_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $red_cor2 0%, $red_cor1 100%);
      }
    }
  }

  &.historia {
    background-color: $his_cor1;
    .background_frente{
      background-color: $seg_hum_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $his_cor2 0%, $his_cor1 100%);
      }
    }
  }

  &.inter_de_texto {
    background-color: $int_cor1;
    .background_frente{
      background-color: seg_lin_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $int_cor2 0%, $int_cor1 100%);
      }
    }
  }

  &.lingua_inglesa {
    background-color: $ing_cor1;
    .background_frente{
      background-color: seg_lin_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $ing_cor2 0%, $ing_cor1 100%);
      }
    }
  }

  &.lingua_portuguesa {
    background-color: $por_cor1;
    .background_frente{
      background-color: seg_lin_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $por_cor2 0%, $por_cor1 100%);
      }
    }
  }

  &.matematica {
    background-color: $mat_cor1;
    .background_frente{
      background-color: $seg_mat_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $mat_cor2 0%, $mat_cor1 100%);
      }
    }
  }

  &.quimica {
    background-color: $qui_cor1;
    .background_frente{
      background-color: $seg_nat_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $qui_cor2 0%, $qui_cor1 100%);
      }
    }
  }

  &.sociologia {
    background-color: $soc_cor1;
    .background_frente{
      background-color: $seg_hum_cor1;
    }
    .wrap_number {
      .background_number {
        background: linear-gradient(270deg, $soc_cor2 0%, $soc_cor1 100%);
      }
    }
  }
}

@media only screen and (max-width: $phone-max-width) {
  .css_01_titulo_cap_num {
    flex-direction: column;
    height: fit-content;

    .center_mobile {
      width: 100%;
      height: 32px;
      margin: auto;
      position: absolute;
      top: -32px;

      .background_frente {
        position: initial;
        width: 120px;
        height: 32px;
        margin: auto;
      }
    }


    .wrap_number {
      margin: auto;
      width: 120px;

      .background_number {
        height: 110px;
        padding: 0;
        padding: 16px;
        padding-top: 8px;
        padding-bottom: 8px;

        .cap {
          font-size: 13px;
          line-height: 14.94px;
        }

        .number {
          width: 100%;
          font-size: 80px;
          line-height: 94.8px;
        }
      }
    }

    .wrap_title {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-left: 0px;
      padding-right: 0px;

      .line_1 {
        text-align: center;
        font-size: 22px;
        line-height: 25.28px;

        margin-top: 6px;
        margin-bottom: 16px;
      }

    }
  }
}