.css_05_mapa_titulo {
  display: block;
  align-items: left;
  font-size: 20px;  
  font-family: $fontPrincipal;
  font-weight: 700;
  border-bottom: dotted 2px;
  padding: 8px;
 

 /* Variações de cores */
 &.artes {
  border-color: $art_cor1 ;
  color: $art_cor1;
}

&.biologia {
  border-color:$bio_cor1;
  color: $bio_cor1;
}

&.fisica {
  border-color:$fis_cor1;
  color: $fis_cor1;
}

&.quimica {
  border-color:$qui_cor1;
  color: $qui_cor1;
}

&.geografia {
  border-color: $geo_cor1;
  color: $geo_cor1;
}

&.historia {
  border-color: $his_cor1;
  color: $his_cor1;
}

&.lingua_inglesa {
  border-color: $ing_cor1;
  color: $ing_cor1;
}

&.lingua_portuguesa {
  border-color: $por_cor1;
  color: $por_cor1;
}

&.redacao {
  border-color: $red_cor1;
  color: $red_cor1;
}

&.inter_de_texto {
  border-color: $int_cor1;
  color: $int_cor1;
}

&.matematica {
  border-color: $mat_cor1;
  color: $mat_cor1;
}

&.sociologia{
  border-color: $soc_cor1;
  color: $soc_cor1;
}
&.filosofia{
  border-color: $fil_cor1;
  color: $fil_cor1;
}


}