.css_02_texto_geral2 {
  display: block;
  text-align: center;
  font-size: 17px;
  color: $textColor;
  font-family: $fontPrincipal;
  font-weight: 700;
  line-height: 1.5em;
  margin-top: 24px;
  padding: 24px;
}